<h1>Stories</h1>

<div id='new_story_btn'> <%= button_to "New", new_story_path, :class => "button", :method => :get, disabled: !chief?  %> </div>

<ul>
  <% @stories.each do |story| %>
    <% unless story.archived? %>
      <li>
        <div class="story"> 
          <%= link_to story.headline, story %>
          <p> <%= "Writer: #{story.writer&.name}  |  Reviewer: #{story.reviewer&.name}    |     Status: #{story.status}" %> </p>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
